body{
    background-color: #d1bdbd;
  }
  
.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    background-color: '#B6B6B6'
  }
  
  h1 {
   
    margin: 20px;
    font-size: 40px;
    color: rgb(1, 1, 59);
    font-style: italic;
  }
  
  .search {
    width: 30%;
  }
  
  ul li {
    font-size: 20px;
  } 